* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: whitesmoke;
  padding: 15px;
}
.informacionPrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.informacionPrincipal a {
  text-decoration: none;
  background-color: coral;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  display: block;
  width: 40%;
  text-align: center;
}

section {
  padding: 20px;
}
.cursos {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.cursos div {
  border: solid 1px gray;
  margin: 30px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  line-height: 25px;
}
.propiedades {
  margin: 30px;
}
.propiedad {
  display: flex;
  align-items: center;
  text-align: justify;
}
.propiedad div {
  width: 500px;
}

.propiedad img {
  width: 300px;
  margin-right: 30px;
}

@media only screen and (max-width: 1045px) {
  .informacionPrincipal {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .propiedad {
    flex-direction: column;
  }

  .cursos {
    flex-direction: column;
  }
}
